{% extends "base.html" %}

{% block content %}
  <h2>Login</h2>
  <form method="POST" action="{{ url_for('login') }}">
      {{ form.hidden_tag() }}
      <div class="form-group">
          {{ form.username.label(class="form-control-label") }}
          {{ form.username(class="form-control") }}
      </div>
      <div class="form-group">
          {{ form.password.label(class="form-control-label") }}
          {{ form.password(class="form-control") }}
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
  </form>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-danger mt-3">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
{% endblock %}
